/*
#########################################################################
##                                                                     ##
##     slivar_vcf_extraction.config                                    ##
##                                                                     ##
##     gmillot A. Millot                                               ##
##     Bioinformatics and Biostatistics Hub                            ##
##     Institut Pasteur Paris                                          ##
##                                                                     ##
#########################################################################
*/

/*
#########################################################################
##                                                                     ##
##     Parameters that must be set by the user                         ##
##                                                                     ##
#########################################################################
*/

/*
##########################
##                      ##
##     Slivar           ##
##                      ##
##########################
*/

env {
    sample_path = "https://zenodo.org/records/10723664/files/example.vcf.gz" // path of the sample file. Example : sample_path="/mnt/c/Users/gmillot/Documents/Git_projects/slivar_vcf_extraction/dataset/vcf.gz" sample_path="/pasteur/zeus/projets/p02/ghfc_wgs_zeus/WGS/Dyslexia/vcf/Dyslexia.gatk-vqsr.splitted.norm.vep.merged.vcf.gz". The .tbi file seems not required when calling a .gz file
    fun_path = "https://raw.githubusercontent.com/gael-millot/slivar_vcf_extraction/v2.4/bin/slivar-functions.js" // .js file containing functions for the slivar --family-expr option. Example : fun_path="/mnt/c/Users/gmillot/Documents/Git_projects/slivar_vcf_extraction/bin/slivar-functions.js", fun_path="/pasteur/helix/projects/BioIT/gmillot/08002_bourgeron/bin/slivar-functions.js", fun_path="https://raw.githubusercontent.com/gael-millot/slivar_vcf_extraction/master/bin/slivar-functions.js"
    ped_path = "https://zenodo.org/records/10723664/files/pedigree.txt" // path of the pedigree file. Example : ped_path="/mnt/c/Users/gmillot/Documents/Git_projects/slivar_vcf_extraction/dataset/pedigree.txt", ped_path="/pasteur/helix/projects/BioIT/gmillot/08002_bourgeron/dataset/pedigree.txt"

// Reminder. The command of slivar used are:
    // slivar expr --js ${fun} -g ${annot1} -g ${annot2} --vcf ${vcf} --ped ${ped} --pass-only --family-expr "${pedigree_expr}" -o "res.vcf"
    // slivar tsv --ped ${ped} -s aff_only -i ${info} res.vcf > res.tsv

    annot1_path = "https://zenodo.org/records/10723664/files/cadd-1.6-SNVs-phred10-GRCh37.zip" // mandatory parameter indicating the path of the cadd annotation file. Add cadd info in the INFO field. Example : annot1_path="/mnt/c/Users/gmillot/Documents/Git_projects/slivar_vcf_extraction/dataset/cadd-1.6-SNVs-phred10-GRCh37.zip", annot1_path="/pasteur/zeus/projets/p02/ghfc_wgs_zeus/references/GRCh37/slivar-gnotate/cadd-1.6-SNVs-phred10-GRCh37.zip"
    annot2_path = "https://zenodo.org/records/10723664/files/gnomad-2.1.1-genome-GRCh37.zip" // mandatory parameter indicating the path of the path of gnomad annotation file. Add gnomad info in the INFO field. Example : annot2_path="/mnt/c/Users/gmillot/Documents/Git_projects/slivar_vcf_extraction/dataset/gnomad-2.1.1-genome-GRCh37.zip", annot2_path="/pasteur/zeus/projets/p02/ghfc_wgs_zeus/references/GRCh37/slivar-gnotate/gnomad-2.1.1-genome-GRCh37.zip"
    sample_expr = "--sample-expr 'all:true'" // expression to use for the --sample-expr option of slivar. Add sample info in the INFO field. Example: sample_expr = "--sample-expr 'high_quality:sample.GQ >= 10'". Before the colon is the name of the new field added in the INFO field of the VCF. Write " " if no labeling wanted for sample in the INFO field. Of note, "--sample-expr 'all:true'" add "all=<SAMPLE_IDs comma separated>" in the INFO field, required for tsv file, if wanted. Warning: all:sample.DP >= 0 is not equivalent to all:true. Of note, "--sample-expr 'all:sample.GQ == \".\"'" is correctly written in the .command.sh file in the work dir of nextflow, but does not seem to work in selecting the empty GQ when using filter = "true"
    pedigree_expr = " " // expression to use for the --family-expr or --trio or --group-expr option of slivar. Add pedigree info in the INFO field, in order to filter the data (depends on the .js file defined by fun_path above). Before the colon is the name of the new field added in the INFO field of the VCF. See https://github.com/brentp/slivar#commands for details. Example: "--family-expr 'aff_only:fam.every(find_het_aff_hom_ref_unaff)'". Write " " if no labeling wanted. Of note, for no filtering, pedigree_expr="all:fam.every(function(s){return s.affected || s.unaffected})" does not work when filter = "true". We have to use --sample-expr
    filter = "false" // if false, the output VCF is only labeled in the VCF INFO field according to the annot1_path, annot2_path, sample_expr and pedigree_expr parameters. If true, take only the lines (variants) labeled in the INFO field by the sample_expr and pedigree_expr parameters. Of note, true add the --pass-only argument to the 'slivar expr' command, which triggers variants (lines of the VCF) filtering
    tsv_file = "true" // if true, return a .tsv file of the .vcf file output
    tsv_sample = "all" // mandatory -s option of the slivar tsv command that filter according to name in the INFO field. Example sample="aff_only". What is indicated must be a field of the INFO field of the vcf, added using the sample_expr or pedigree_expr parameter. Ignored if tsv_file == "false"
    tsv_info = "-i AC -i AF -i AN -i BaseQRankSum -i DB -i DP -i ExcessHet -i FS -i InbreedingCoeff -i MLEAC -i MLEAF -i MQ -i MQRankSum -i QD -i ReadPosRankSum -i SOR -i VQSLOD -i culprit -i CSQ -i cadd_phred -i gno_non_neuro_af_all -i gno_non_neuro_af_nfe -i gno_non_neuro_nhomalt_all -i gno_non_neuro_nhomalt_nfe -i highest_impact_order -i all" // -i option of the slivar tsv command that keep data from the INFO field of the vcf file (https://github.com/brentp/slivar#tsv) for the tsv file output. Example : "-i AC -i AF -i AN". Warning: if one of the -i is not in the vcf file, it will generate an error. Thus, be carefull with what is used in the sample_expr or pedigree_expr parameter. Ignored if tsv_file == "false"
}


/*
############################
##                        ##
##     Local / Cluster    ##
##                        ##
############################
*/

// see https://confluence.pasteur.fr/pages/viewpage.action?pageId=69304504
system_exec = 'local' // single character string of the system that runs the workflow. Either 'local' to run on our own computer or 'slurm' to run on the pasteur cluster. Example: system_exec = 'local'
simult_jobs = 3000 // number of max simultaneous jobs. This is to avoid to saturated a cluster if millions of jobs in parallel. Write 0 for all the threads. Not used if system_exec is 'local'
queue = 'common,dedicated' // single character string of the -p option of slurm. Example: queue = 'common,dedicated'. Example: queue = 'hubbioit'
qos = '--qos=ultrafast' // single character string of the --qos option of slurm. Example: qos= '--qos=fast'. Example: qos = '--qos=ultrafast'. Example: qos = '--qos=hubbioit'
add_options = ' ' // single character string of the additional option of slurm. Example: add_options = '--exclude=maestro-1101,maestro-1034' or add_options = ' ', add_options = '--time=70:00:00' (acceptable time formats include "minutes", "minutes:seconds", "hours:minutes:seconds", "days-hours", "days-hours:minutes" and "days-hours:minutes:seconds"). See https://slurm.schedmd.com/sbatch.html#OPT_time for other options
apptainer_path = "NULL" // Warning: apptainer does not work with DSL1 but local folder name kept as 'apptainer'. Single character string of the path of the singularity folder (where all the singularity images are are pulled and stored for proper nextflow execution). Write "NULL" for default path (but will not work in most cases). Example: apptainer_path='/pasteur/helix/projects/BioIT/gmillot/singularity'. Example: apptainer_path='/mnt/c/Users/gmillot/singularity'. Example: apptainer_path="$baseDir/singularity" # do not forget double quotes

/*
#############################
##                         ##
##     Other (optional)    ##
##                         ##
#############################
*/

out_path_ini = "$baseDir/results" // single character string of where the output files will be saved. Example out_path_ini = '.' for where the main.nf run is executed or out_path_ini = "$baseDir/results" to put the results in a result folder (created if required), $baseDir indicating where the main.nf run is executed. Example: out_path_ini = '/mnt/c/Users/Gael/Desktop'. Example : out_path_ini="/pasteur/helix/projects/BioIT/gmillot/08002_bourgeron/results". Warning: this does not work: out_path_ini = "/mnt/share/Users/gael/Desktop"
result_folder_name = "slivar_vcf_extraction" // single character string.of the name of the folder where the results files are dorpped


/*
#########################################################################
##                                                                     ##
##     End Parameters that must be set by the user                     ##
##                                                                     ##
#########################################################################
*/






//////// Pre processing

int secs = (new Date().getTime())/1000
out_path="${out_path_ini}/${result_folder_name}_${secs}"

//////// end Pre processing



//////// variables used here and also in the main.nf file

env {
    system_exec = "${system_exec}"
    out_path_ini = "${out_path_ini}"
    out_path = "${out_path}"
    queue = "${queue}"
    qos = "${qos}"
    add_options = "${add_options}"
}

//////// variables used here and also in the main.nf file





//////// Scopes

// those are closures. See https://www.nextflow.io/docs/latest/script.html#closures
executor { 
    // name = "slurm" // means "if name of the executor is slurm, then ${simult_jobs}, i.e., max ${simult_jobs} simultaneous jobs". Inactivated because applied to all kinds of executors
    queueSize = "${simult_jobs}" // can only be written here and not below because queueSize is a method of executor{}
}

// create a report folder and print a html report file . If no absolute path, will be where the run is executed
// see https://www.nextflow.io/docs/latest/config.html#config-report
report {
       enabled = true
       file = "${out_path}/reports/report.html" // warning: here double quotes to get the nextflow variable interpretation
}

// txt file with all the processes and info
trace {
    enabled = true
    file = "${out_path}/reports/trace.txt"
}

// html file with all the processes
timeline {
    enabled = true
    file = "${out_path}/reports/timeline.html"
}

// .dot picture of the workflow
dag {
    enabled = true
    file = "${out_path}/reports/nf_dag.png"
}


// define apptainer parameters
singularity { // Warning : do not change for apptainer : it will not work because of DSL1
    enabled = true
    autoMounts = true // automatically mounts host paths in the executed container
    if(system_exec == 'slurm' || system_exec == 'slurm_local'){
        runOptions = '--no-home --bind /pasteur' //-B /run/shm:/run/shm has been removed because block the pipeline. Warning: clone_assignment process use python. Thus, -B /run/shm:/run/shm should be required normally
    }else{
        runOptions = '--no-home -B /run/shm:/run/shm' // --no-home prevent apptainer to mount the $HOME path and thus forces apptainer to work with only what is inside the container
    }
    //runOptions = '--home $HOME:/home/$USER --bind /pasteur' // provide any extra command line options supported by the apptainer exec. Here, fait un bind de tout /pasteur dans /pasteur du container. Sinon pas d accès
    if(apptainer_path == "NULL"){
        if(system_exec == 'slurm'){
            cacheDir = '/pasteur/helix/projects/BioIT/gmillot/apptainer' // name of the directory where remote Singularity images are stored. When rerun, the exec directly uses these without redownloading them. When using a computing cluster it must be a shared folder accessible to all computing nodes
        }else if(system_exec == 'slurm_local'){
            cacheDir = 'apptainer' // "$projectDir/apptainer" can be used but do not forget double quotes.
        }else{
            cacheDir = '/mnt/c/Users/gmillot/apptainer' // "$projectDir/apptainer" can be used but do not forget double quotes.
        }
    }else{
        cacheDir = "${apptainer_path}"
    }
}


//////// end Scopes



//////// directives

// provide the default directives for all the processes in the main.nf pipeline calling this config file
process {
// directives for all the processes
    cpus = 1
    memory='3G'
    executor = "${system_exec}"
// end directives for all the processes
    if(system_exec == 'slurm'){
        queue = "$queue"
        clusterOptions = "$qos $add_options"
        scratch=false
        maxRetries=3
        errorStrategy{ task.exitStatus in 137..143 ? 'retry' : 'terminate' }
    }else{
        maxRetries=0
        errorStrategy='terminate'
    }

    withLabel: bash {
        container='gmillot/bash-extended_v4.0:gitlab_v8.0'
        cpus=1
        memory='3G'
    }

    withLabel: slivar {
        container='gmillot/slivar_v2.0:gitlab_v9.1'
        cpus=1
        memory='60G'
    }
}

//////// end directives